.Footer {
  width: 100%;
  display: flex;
  justify-content: center;
  color: #d4dbe3;
  padding: 4vw 0;
}

.Footer-left {
  font-size: 1.14rem;
  width: 25vw;
  align-items: center;
  border-right: 2px solid rgba(78,92,108,1);
}
.Footer-left-logo {
  width: 20vw;
}
.Footer-left-bottom {
  margin-top: 3rem;
}
.Footer-left-item {
  display: flex;
  line-height: 2em;
}
.Footer-left-content {
  margin-left: 0.6rem;
}

.Footer-right {
  width: 50vw;
  display: flex;
  justify-content: space-around;
}
.Footer-right-list {
  margin-top: 2rem;
}
.Footer-right-item span {
  display: inline-block;
  font-size: 1.14rem;
  padding-right: 0.5rem;
  line-height: 2em;
  border-bottom: 4px solid #d4dbe3;
}
.Footer-right-child-item {
  line-height: 2rem;
  font-size: 1rem;
}
