body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 14px;
}
ul {
  padding-left: 0px;
}
/* @media screen and (min-width: 900px) {
  html {
    font-size: 18px;
  }
}
@media screen and (max-width: 900px) {
  html {
    font-size: 12px;
  }
} */
